:root {
    --grey: hsl(0, 0%, 10%);
    --progress: rgb(206, 206, 206);
  }

html {
    background-color: white;
    transition: filter 2s;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    cursor: crosshair !important;
    background-color: hsl(0, 0%, 75%);
    background-color: white;
}

canvas {
    border-radius: 1em;
    margin-top: 2vh;
    height: 90%;
    width: 70%;
    background-color: var(--grey);
    transition: background-color 1s;
}

#startScreen {
    margin-top: 3vh;
    position: absolute;
    font-size: 1.5em;
    height: 5em;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startScreen img {
    width: 10vw;
    margin: 0vh 10vw;
    -webkit-user-drag: none;
}

#playButton {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    font-size: 1em;
    height: 5em;
    width: 10em;
    border-radius: 5em;
    padding: 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-weight: bold;
}

#playButton:hover {
    background-color: #bebebe;
}

.binds {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    user-select: none;
}

#hp {
    background-color: transparent;
    width: 60vw;
    height: 2vw;
    margin-top: 1vh;
}

progress::-webkit-progress-bar, progress::-webkit-progress-value {
    border-radius: 1em;
}

progress::-webkit-progress-bar {
    background-color: var(--progress);
}
progress::-webkit-progress-value {
    background-color: var(--grey);
    transition: background-color 1s, width 0.1s;
}

#endScreen {
    margin-top: 3vh;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    font-size: 1.5em;
    position: absolute;
    background-color: #bebebe;
    height: 10em;
    width: 20em;
    border-radius: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

#endScreen p {
    font-size: 1.5em;
    margin: 0;
}

#endScreen p, #endScreen div {
    margin-top: 2vh;
}

#restart {
    background-color: rgb(202, 201, 201);
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;
}

#restart:hover {
    background-color: white;
}

.flickity-button, .flickity-page-dots {
    display: none;
}

.main-carousel {
    opacity: 0;
    position: relative !important;
    bottom: 38vw;
    height: 10vw;
    width: 20vw;
    pointer-events: none;
}

.carousel-cell {
    width: 20vw;
}


.carousel-cell img {
    height: 10vw;
    width: 20vw;
}

#message {
    text-align: center;
    margin-top: 3vh;
    user-select: none;
    font-size: 1.5em;
    position: absolute;
    font-size: 4vw;
    color: white;
}


.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: filter 1s;
}

#stats {
    margin-top: 2vh;
    font-size: 3vw;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#stats img {
    width: 0.8em;
}

.count {
    height: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count img {
    width: 0.5em !important;  
    margin: 0vh -0.5vw;
}

#score {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    border-radius: 20em;
    padding: 0.1em 0.5em;
    background-color: var(--grey);
    transition: background-color 1s;
}